<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Calendar App</title>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div class="headerGroup">
          <div class="calTitle">The Daily Beat Calendar</div>
          <div id="displayMonth"></div>
          <div class="monthNavBtn">
            <button id="backBtn">Back</button>
            <button id="nextBtn">Next</button>
          </div>
        </div>
      </div>
      <div id="daysOfWeek">
        <div class="weekDay">Sunday</div>
        <div class="weekDay">Monday</div>
        <div class="weekDay">Tuesday</div>
        <div class="weekDay">Wednesday</div>
        <div class="weekDay">Thursday</div>
        <div class="weekDay">Friday</div>
        <div class="weekDay">Saturday</div>
      </div>
      <div id="calApp"></div>
    </div>
    <div id="newEventInput">
      <h2>New Event</h2>
      <textarea id="eventTextInput" placeholder="Add Event"></textarea>
      <button id="saveButton">Save</button>
      <button id="cancelButton">Cancel</button>
    </div>
    <div id="deleteEventInput">
      <h2>Delete Event</h2>
      <p id="eventText"></p>
      <div class="closeDeleteBtn">
        <button id="deleteButton">Delete</button>
        <button id="closeButton">Close</button>
      </div>
    </div>
    <div id="backDropShadow"></div>
    <script src="./script.js"></script>
  </body>
</html>
