/* form.signup,
form.login {
  margin-top: 50px;
} */

:root {
  --White-Smoke: #f5f5f5;
  --Sky-Blue: #1B9CE2;
  --Dodger-Blue: #4D8ADC;
  --Slate-Blue: #7275CE;
  --Purple-3: #8D5EB7;
  --Magenta: #A14499;
  --French-Rose: #AA2675;
  --DeepDarkBlue: #180026;
}

/* body {background-color: rgb(117, 137, 155);};
.bg {background-color:white ;} */

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 3em;
  background-image: linear-gradient(to bottom left, #1B9CE2, 
  #4D8ADC,#7275CE, #8D5EB7, #A14499, #AA2675);
  background-repeat: no-repeat;
}

.navbar {
  display: flex;
  /* justify-content: center;   */
  background-color: #FFC75F;
  box-shadow: 10px 10px 2px 0 rgba(0, 0, 0, 0.438); 
  /* margin-left: 20em; */
  /* margin-top: 2em; */
  border: none;
}

.navbar-brand {
  font-size:xx-large;
}

#email-input,
#password-input {
  box-shadow: 5px 5px 2px 0 rgba(0, 0, 0, 0.438); 
}

.card {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.card-body { 
  display: flex;
  flex-direction: column;
  background-color:#D65DB1;
  color: #4FFBDF;
  /* background-color:#4FFBDF;
  color: #D65DB1; */
  border-radius: 5px;
  padding: 30px 40px;
  font-size: 40px;
  font-weight: 400;
  width: 770px;
  box-shadow: 10px 10px 2px 0 rgba(0, 0, 0, 0.438); 
}

.form-conteiner {
  border:1px solid white;
  padding: 50px 60px;
  margin-top: 5vh;
  box-shadow: 10px 10px 2px 0 rgba(0, 0, 0, 0.438); 
  background-color: #4FFBDF;
  border-radius: 5px;
}

/* Inspirational Quote */
#quoteBtn {
	font-size: 15px;
	background-color: whitesmoke;
	margin-bottom: 30px;
}

/* Weather */
/* fontawesome magnifying glass icon */
#search-button-icon{
  width:15px;
  display:inline-block;
}

